<div class="post">
  <div class="post-author-name"></div>

  <!-- TIPS: [ngStyle]="{'background-image': url(...) }" -->
  <div class="post-author-photo"></div>
<!--  <div class="post-date">{{postDate}}</div>-->

  <div class="post-user-like" (click)="like()">
    <i nz-icon nzType="heart" [nzTheme]="this.liked ? 'fill' : 'outline'"></i>
  </div>

  <p class="post-text" *ngIf="!urlVideo && !urlImage && !urlYoutube">
    {{this.post.message.text.content}}
  </p>

  <app-post-attachement-youtube *ngIf="urlYoutube" [element]="this.post.message.attachements[0]"></app-post-attachement-youtube>
  <app-post-attachement-video *ngIf="urlVideo" [element]="this.post.message.attachements[0]"></app-post-attachement-video>
  <app-post-attachement-image *ngIf="urlImage" [element]="this.post.message.attachements[0]"></app-post-attachement-image>

  <p class="post-author-name">
    {{this.post.createdBy.username}}
  </p>

  <p class="post-date">
    {{postDate}}
  </p>
  <!-- Itérer sur les "attachements" du message -->
  <div class="post-attachements" *ngFor="let element of post.message.attachements">
    <!-- Utiliser ngIf pour afficher le bon composant en fonction du type d'élément-->
    <div *ngIf="element.type === 'text' ">{{element.content}}</div>
    <div *ngIf="element.type === 'link' ">{{element.title}}</div>
    <div *ngIf="element.type === 'image' "><img src="{{element.url}}" ></div>
  </div>
  <div #anchor></div>
</div>

