<div class="login">
  <form nz-form nzLayout="vertical" #f="ngForm" (submit)="submit()">
    <nz-form-item>
      <nz-form-label nzFor="username">Username</nz-form-label>
      <nz-form-control>
          <input class="ant-input" type="text" name="username" id="username" [(ngModel)]="model.username" #username="ngModel" on-focusout="focusOutInputUsername($event)">
      </nz-form-control>
      <p *ngIf="usernameObligatoire" class="errorMsg">Champs Obligatoire</p>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password">Mot de passe</nz-form-label>
      <nz-form-control>
          <input class="ant-input" type="password" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" on-focusout="focusOutInputPassword($event)">
      </nz-form-control>
      <p *ngIf="pswObligatoire" class="errorMsg">Champs Obligatoire</p>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button class="login-button" type="submit" nz-button nzType="default" [disabled]="f.form.invalid"
          (submit)="submit()">Connexion</button>
      </nz-form-control>
      <p *ngIf="invalidForm" class="errorMsg">Formulaire pas valide</p>
    </nz-form-item>
  </form>
  <p class="divider">Pas encore enregistré ?</p>

  <!-- TODO Rediriger sur la page de login au clic sur le bouton -->
  <button class="register-button" nz-button nzType="primary" (click)="goToRegistration()">Créer un compte</button>
</div>
